<header>
  <section class="banner">
    <h1>Coffee shop reviews</h1>
  </section>

  <div ng-if="isLoggedIn">
    <section class="menu">
      <a ui-sref="add-review">Add review</a>
    </section>
  </div>

  <section class="login">
    <div ng-switch on="isLoggedIn">
      <!--if not logged in, show login form-->
      <div ng-switch-when="false">
        <form name="loginForm" ng-submit="logIn(loginForm)">
          <input type="text" ng-model="user.email">
          <input type="password" ng-model="user.password">
          <button>Login</button>
        </form>
      </div>
      <!--otherwise, show welcome message and logout button-->
      <div ng-switch-when="true">
        Welcome {{currentUser.email}} <button ng-click="logOut()">Log out</button>
      </div>
    </div>
  </section>
</header>

<main>
  <ul>
    <li class="review" ng-repeat="r in reviews">
      {{r.date | date}} - {{r.rating}}&#9733; - {{r.coffeeShop.name}} -
      {{r.reviewer.email}} - {{r.content}}
    </li>
  </ul>
</main>
