<header>
  <div ng-if="isLoggedIn">
    <section class="menu">
      <a ui-sref="add-review">Add review</a>
    </section>
  </div>

  <section class="banner">
    <h1>Coffee shop reviews</h1>
  </section>

  <section class="login">
    <div ng-switch on="isLoggedIn">
      <!--if not logged in, show login form in the header-->
      <div ng-switch-when="false">
        <form name="loginForm" novalidate>
          <input type="text" required>
          <input type="password" required>
          <button>Login</button>
        </form>
        <div>The form is valid: {{loginForm.$invalid}}</div>
        <div>The form is invalid: {{loginForm.$invalid}}</div>
      </div>
      <!--if logged in, show welcome message and logout button-->
      <div ng-switch-when="true">
       Welcome John <button>Log out</button>
      </div>
    </div>
  </section>
</header>

<main>
  <ul>
    <li class="review" ng-repeat="r in reviews">
      {{r.date | date}} - {{r.rating}}&#9733; - {{r.coffeeShop.name}} -
      {{r.reviewer.email}} - {{r.content}}
    </li>
  </ul>
</main>
