<form name="form" ng-submit="addReview(form)">
  <fieldset>
    <legend>Add review form</legend>

    <div class="form-group">
      <label>Coffee shop name</label>
      <input type="text">
    </div>

    <div class="form-group">
      <label>Rating</label>
      <input type="radio" name="rating" value="1">1&#9733;
      <input type="radio" name="rating" value="2">2&#9733;
      <input type="radio" name="rating" value="3">3&#9733;
      <input type="radio" name="rating" value="4">4&#9733;
      <input type="radio" name="rating" value="5">5&#9733;
    </div>

    <div class="form-group">
      <label>Comments</label>
      <textarea name="comments"></textarea>
    </div>

    <div class="actions">
      <button>Add review</button>
    </div>
</form>
